html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden !important;
  width: 100%;
  height: auto;
  font-family: $font-default !important;
}

a {
  color: $color-black;

  @extend .trans;

  &:hover {
    opacity: 0.5;
  }
}

p {
  font-size: 1rem;
}

.hidden {
  display: none !important;
}

.btn-main {
  border: $border-2-black !important;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: $btn-main-bg;
  color: $btn-main-color;

  //@include .trans;

  &:hover {
    background-color: $btn-main-bg-hover;
    color: $btn-main-color-hover;
  }
}

.bold {
  font-weight: 700;
}

.content-main {
  margin: 80px 0;
}

.description {
  font-size: 1.2rem;
}

.box-image {
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.page-content {
  margin-top: 70px;
}

.img-reverse {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.box-image {
  // position: relative;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  // background-size: 100% 100%;
  background-repeat: no-repeat;

  // img{
  //     width: 100%;
  // }
}

.section-content {
  margin: 4rem 0;
}

#section-bio {
  margin-bottom: 0;
}

.section-content {
  &:nth-child(2) {
    margin-top: 0;
  }
}

.page-header-parallax {
  height: 70vh;
  overflow: hidden;
  perspective: 2px;
  transform-style: preserve-3d;

  .bg-header {
    height: 100vh;
    position: relative;
    min-height: 700px;
    transform-style: inherit;

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transform: translateZ(-1px) scale(1.5);
    }
  }
}

.box-image {
  width: 50%;
  overflow: hidden;

  img {
    width: 100vw;
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.list-nav {
  &--item {
    text-transform: uppercase;
    @extend .trans;
  }

  &--link {
    color: $color-black !important;
    font-weight: 700;
    text-decoration: none !important;

    &:after {
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      background-color: $color-white;
      margin-top: 5px;
    }

    &:hover {
      opacity: 0.5;

      &:after {
        background-color: $color-black;
      }
    }
  }
}

.dropdown-toggle::after {
  content: "";
  border-top: 1.8em solid;
  border-right: 1.8em solid transparent;
  border-bottom: 0;
  border-left: 1.8em solid transparent;
}

.square {
  position: relative;
  width: 100%;
  background-color: #f1f1f1;
  overflow: hidden;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-text-valign{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header{
  height: 90vh;
  overflow: hidden;
}

@media (min-width: 320px) {
  .list-nav--item {
    margin-right: 15px !important;
  }

  .list-nav--link {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .list-nav--item {
    margin-right: 25px !important;
  }
}
