html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden !important;
  width: 100%;
  height: auto;
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: $color-black;

  @extend .trans;

  &:hover {
    opacity: 0.5;
  }
}

.hidden {
  display: none !important;
}

.btn-main {
  border: $border-2-black !important;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: $btn-main-bg;
  color: $btn-main-color;

  //@include .trans;

  &:hover {
    background-color: $btn-main-bg-hover;
    color: $btn-main-color-hover;
  }
}

.bold {
  font-weight: 700;
}

.content-main {
  margin: 80px 0;
}

.description {
  font-size: 1.2rem;
}

.box-image {
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.page-content {
  margin-top: 70px;
}

.img-reverse {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.box-image{
    // position: relative;
    height: 30vh;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    // background-size: 100% 100%; 
    background-repeat: no-repeat;

    // img{
    //     width: 100%;
    // }
}

.section-content{
    margin: 4rem 0;    
}

#section-bio{
    margin-bottom: 0;
}

.section-content{
    &:nth-child(2){
        margin-top: 0;
    }
}