$color-white: #ffffff;
$color-gray: #e5e5e5;
$color-black: #000000;

$color-green-light: #C8F0EE;
$color-green-extra-light: #F6FFFE;
$color-green-dark: #437471;

.bg-black{
	background-color: $color-black;
}