.social-icons {
  padding-bottom: 50px;

  &__item {
    margin: 0 20px;
  }

  &__link {
    font-size: 3rem;    
    @include font-size(40px);
    @include transition(color 0.7s ease);

    &:hover {
      opacity: 0.7;      
    }

    i{
      color: $color-white;
    }
  }

  .fa-facebook-f {
    font-size: 2rem;
    position: relative;
    top: -4px;
  }

  .fa-mobile-alt {
    font-size: 2.1rem;
    top: -4px;
    position: relative;
  }
}

footer{
  padding: 50px 0 10px;

  a{
    color: $color-white !important;

  }
}

.footer-info{
  font-size: 1rem;
}