.social-icons {
  padding-bottom: 50px;

  &__item {
    margin: 0 20px;
  }

  &__link {
    font-size: 3rem;
    @include font-size(40px);
    @include transition(color 0.7s ease);
    color: $color-green-dark !important;

    &:hover {
      opacity: 0.7;
    }
  }

  .fa-facebook-f {
    font-size: 2rem;
    position: relative;
    top: -4px;
  }

  .fa-mobile-alt {
    font-size: 2.1rem;
    top: -4px;
    position: relative;
  }
}

footer{
  padding: 50px 0 10px;
}