.banner-main{
    background-color: $color-gray;
    height: 60vh;
    position: relative;

    .banner-main__image{
        bottom: 0;
        position: relative;
        height: 100%;
        margin: 0 auto;
        display: block;
        width: auto;
    }
}