.title-section {
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none !important;
  font-family: $font-default;
  color: $color-black;
  @extend .trans;

	&:hover{
		opacity: .7;
	}
}

.subtitle {
  margin-top: 0;
  margin-bottom: 20px;
}

.slick-squares {
  &__title {
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 700;
  }

  &__subtitle{
    font-size: 1.2rem;
  }
}

.title-album {
  font-size: 1.5em;
  font-weight: bold;
  color: $color-black !important;
  text-decoration: none !important;
}

.subtitle-section {
  font-size: 1.5em;
  font-weight: bold;
}
